
a2service-comercial.log
*.log


*.class
.project
.classpath
.settings
*.iml
nb-configuration.xml
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.factorypath
.faces-config.pageflow
.tern-project
target/
a2works-erp/target/
/a2works-erp/target/
target
bin/

/bin/
/.metadata/

/archived
a2service.log

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.log
*.log


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
nbactions-lcl.xml

*.xml
.xml


### NetBeans ###

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

*.class
.project
.classpath
.settings
*.iml
nb-configuration.xml
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.factorypath
.faces-config.pageflow
.tern-project
target/
a2works-erp/target/
/a2works-erp/target/
target
bin/

/bin/
/.metadata/

### VS Code ###
.vscode/


### VS Code ###
.vscode/

/.metadata/

a2service/src/main/java/META-INF/MANIFEST.MF

a2works-erp/faces-config.NavData
